/* styles_combined.css */

body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a; /* Dunkelgrauer Hintergrund */
    color: #ffffff; /* Weiße Schrift */
    margin: 0;
    padding: 0;
}

/* Design für die Haupt-Navigation */
.main .menu {
    background-color: #1a1a2e; /* Dunkelblauer Hintergrund */
    padding: 10px 20px;
    text-align: center;
}

.main .menu a {
    color: #e0e1dd; /* Helles Grau für Text */
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.main .menu a:hover {
    background-color: #4ecca3; /* Dunkleres Blau beim Hover */
    border-radius: 4px;
}

/* Design für den Inhaltsteil */
.content {
    padding: 20px;
    background-color: #16213e; /* Dunkles Blau für den Inhaltsbereich */
    margin-top: 10px;
}

.sitename {
    text-align: center;
}

.sitename h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.fehlertext {
    text-align: center;
}

.fehler {
    color: red;
}

.center-table {
    margin: 20px auto;
}

.formular {
    max-width: 220px;
    text-align: center;
    background: #0f3460;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    border-radius: 4px;
}
.select option{
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.formular th {
    font-size: 2em;
    display: flex;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
    color: #333;
    border-radius: 4px;

}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group select:focus {
    border-color: #008080;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
    border-radius: 4px;
}

@media (max-width: 768px) {
    .main {
        width: 95%;
    }
}
